esphome:
  name: espinverter4
  libraries:
    - "NETSGPClient"

external_components:
  - source: github://majuss/esphome-NETSGPClient-component
    components: [netsgp_client]

esp32:
  board: esp32dev
  framework:
    type: arduino

logger:

api:

uart:
  - tx_pin: 17
    rx_pin: 16
    baud_rate: 9600
    id: f2

ota:
  platform: esphome

web_server:

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "Espinverter2 Fallback Hotspot"
    password: ""

captive_portal:

sensor:
- platform: netsgp_client
  uart_id: f2
  prog_pin: 4
  inverter_id: 0x26002757
  update_interval: 3s
  temperature:
    name: "Inverter Temperature"
    accuracy_decimals: 1
  ac_power:
    name: "Inverter AC-Power"
    unit_of_measurement: W
    accuracy_decimals: 2
  dc_power:
    name: "Inverter DC-Power"
    unit_of_measurement: W
    accuracy_decimals: 2
  total_production:
    name: "Inverter total Production"
    unit_of_measurement: kWh
    device_class: energy
    state_class: total_increasing
    accuracy_decimals: 2
- platform: wifi_signal
  name: "espinverter WiFi Signal"
  device_class: signal_strength
  update_interval: 15s
